.bg-red {
	background-color:red;
}

.bg-white {
	background-color: linear-gradient(to bottom, #ffffff 37%, #ff3300 54%);
}

.bg-grad2 {
    background:  linear-gradient(to top, #ffffff 56%, #003300 100%);
    
}

.bg-grad4 {
    background: linear-gradient(to top, #ffffff -3%, #333300 100%);
}

.bg-blue {
	background: linear-gradient(to bottom, #ffffff 37%, #ff3300 54%) ;
}

