.grid {
	display: flex;
	flex-wrap:wrap;
}

.col {
	padding: 20px;
}

.content {
	padding: 20px;
	font-size: 30px;
}

.title {
	font-size: 15vw;
	text-align: center;
	border: 40px solid lime;
	border-radius: 50%;
	
}

.popup-link {
	color:blue;
	cursor: pointer;
}


.shape {
	width: 10px;
	position: fixed;
	z-index: 3;
	cursor: pointer;
	display: none;
}

.popup-link {
	color:lime;
	border: 1px solid lime;
	border-radius: 50%;
	padding:5px;
	cursor: pointer;

}

.s-1 {
	top:0px;
	right:100px;
}

.s-2 {
	bottom:0px;
	left:100px;	
}

.s-3 {
	bottom:50px;
	left:40%;		
}

.s-4 {
	bottom:300px;
	left:60%;		
}

.s-5 {
	top:10px;
	left:10px;		
}

.s-6 {
	top:300px;
	left:20%;	
}

.s-7 {
	bottom:20px;
	left:70%;	
}

.s-8 {
	top:0px;
	right:35%;	
}


.show {
	display: block;
}





#slideshow {
	width:100vw;
	position: relative;
	display: block;
	height:100vh;
}

#slideshow img {
	width: 100%;
	filter:contrast(300);
	position: absolute;
	top:0;
	left:0;
}

.title-1.active {
	color:red;
}

.title-2.active {
	color:green;
}

.title-3 a.active {
	color:lime;
}